.navbar-brand {
    font-size: 2rem;
}

.fa-chevron-down {
    font-size: 2rem;
}

.crd {
    margin-top: 30px;
    min-height: 420px;
}

.card-image {
    display: flex;
    align-items: center;
    height: 180px;
    padding: 40px;
}

#search-div {
    height: 190px;
}

.tab-content {
    padding: 0 20px;
}

.model-data {
    width: 100%;
}

#veh-img img {
    width: 100%;
}

.rating-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.safety-desc {
    color: #3298dc;
}

.recall-title {
    color: #000;
    font-weight: 500;
    font-size: 1.1rem;
}

.recall-number {
    font-weight: 600;
    font-size: .9rem;
}

.srch-box-1 {
    margin-bottom: 30px;
}

.srch-box-2 {
    margin-bottom: 40px;
    min-height: 400px;
}

.hide {
    display: none !important;
}