* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eff3f4;
}

h1, h2, h3, h4, h5, p, select, button, ul, li, a {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 400;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.hero-container {
    width: 90%;
    margin: auto;
}

.rounding {
    border-radius: 4px;
}

.txt-logo {
    padding: 15px 0;
    font-size: 2rem;
}

.hero {
    background-color: #33a7dc;
    min-height: 100vh;
    position: relative;
    color: #fff;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-img {
    max-width: 760px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    max-width: 32%;
}

.card-img {
    padding: 20px;
}

.card-img img {
    max-width: 264px;
}

.down-arrow a{
    font-size: 2rem;
    position: absolute;
    top: 90%;
    left: 50%;
    color: #2d7597;
    transition: linear .3s;
}

.down-arrow a:hover{
    color: #80d3fa;
    transform: scale(1.5);
}


.search-box {
    background-color: #fff;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-section {
    background-color: #fff;
    padding: 30px;
    min-height: 200px;
}

.tabs {
    border-bottom: 1px solid rgb(218, 218, 218);
}
.tabs ul {
    padding-bottom: 10px;
}

.tabs ul li {
    display: inline;
    margin-right: 1.5rem;
    cursor: pointer;
    font-size: 1.125rem;
}

.footer {
    background-color: #3b3b3b;
    height: 80px;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
}

.footer a {
    color: #33a7dc;
}

.hide {
    display: none !important;
}

.box-hover:hover {
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.04);
}

.is-active {
    color: #0f7ec2;
    padding-bottom: 10px;
    border-bottom: 2px solid #0f7ec2;
}